.DS_Store
project-code/logs
project-code/project/project
project-code/project/target
project-code/target
project-code/tmp
project-code/dist
samples/SpringSampleProject/logs
samples/SpringSampleProject/project/project
samples/SpringSampleProject/project/target
samples/SpringSampleProject/target
samples/SpringSampleProject/tmp
samples/SpringSampleProject/dist
.history
.classpath
.project
.settings/
